UI vesamenu.c32
PROMPT 0
TIMEOUT 30

MENU TITLE EVAH OS — Bootable USB Desktop
MENU COLOR border 30;44 #40ffffff #a0000000 std
MENU COLOR title 1;36;44 #9038bdf8 #a0000000 std
MENU COLOR sel 7;37;40 #e0ffffff #20ffffff all
MENU COLOR unsel 37;44 #50ffffff #a0000000 std
MENU COLOR help 37;40 #c0ffffff #a0000000 std
MENU COLOR timeout_msg 37;40 #80ffffff #00000000 std
MENU COLOR timeout 1;37;40 #c0ffffff #00000000 std

LABEL live
  MENU LABEL EVAH OS (Bootable Live Desktop - Default)
  MENU DEFAULT
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initrd.img boot=live components quiet splash nomodeset=0 evah.autostart=1

LABEL safe
  MENU LABEL EVAH OS (Safe Graphics Mode - Nomodeset)
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initrd.img boot=live components nomodeset vga=normal evah.autostart=1

LABEL persistence
  MENU LABEL EVAH OS (Persistent Data Mode - USB Storage)
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initrd.img boot=live persistence components quiet splash evah.autostart=1
